<section>
  <h1>{{windowWidth}}</h1>
  <img
    rawSrc="https://s3.glbimg.com/v1/AUTH_a468dd4e265e4c40b714860137150800/sales-vitrine-web/sales-vitrine-web/assets/images/heroes/fullscreen/globoplay_002F.avif"
    width="1401"
    height="670"
    alt="imagem Vitrine"
    priority
  />
  <img
    rawSrc="https://s3.glbimg.com/v1/AUTH_a468dd4e265e4c40b714860137150800/sales-vitrine-web/sales-vitrine-web/assets/images/pages/gigagloob/hero.avif"
    width="837"
    height="670"
    alt="imagem Vitrine"
    priority
  />
  <img
    rawSrc="https://s3.glbimg.com/v1/AUTH_a468dd4e265e4c40b714860137150800/sales-vitrine-web/sales-vitrine-web/assets/images/pages/premiere/hero_premiere.avif"
    width="873"
    height="670"
    alt="imagem Vitrine"
  />
  <img
    rawSrc="https://s3.glbimg.com/v1/AUTH_a468dd4e265e4c40b714860137150800/sales-vitrine-web/sales-vitrine-web/assets/images/pages/mais-canais/hero_mais-canais.avif"
    width="829"
    height="664"
    alt="imagem Vitrine"
  />
  <img
    rawSrc="https://s3.glbimg.com/v1/AUTH_a468dd4e265e4c40b714860137150800/sales-vitrine-web/sales-vitrine-web/assets/images/pages/cartola/hero.avif"
    width="1170"
    height="664"
    alt="imagem Vitrine"
  />
  <img
    rawSrc="https://s3.glbimg.com/v1/AUTH_a468dd4e265e4c40b714860137150800/sales-vitrine-web/sales-vitrine-web/assets/images/pages/appletv/hero.avif"
    width="1170"
    height="664"
    alt="imagem Vitrine"
  />
  <img
    rawSrc="https://s3.glbimg.com/v1/AUTH_a468dd4e265e4c40b714860137150800/sales-vitrine-web/sales-vitrine-web/assets/images/pages/discovery/hero_discovery.avif"
    width="864"
    height="664"
    alt="imagem Vitrine"
  />
  <img
    rawSrc="https://s3.glbimg.com/v1/AUTH_a468dd4e265e4c40b714860137150800/sales-vitrine-web/sales-vitrine-web/assets/images/pages/deezer/hero_000.avif"
    width="1170"
    height="664"
    alt="imagem Vitrine"
  />
  <img
    rawSrc="https://s3.glbimg.com/v1/AUTH_a468dd4e265e4c40b714860137150800/sales-vitrine-web/sales-vitrine-web/assets/images/heroes/default/disney_001.avif"
    width="691"
    height="389"
    alt="imagem Vitrine"
  />
</section>
